.add-video-form {
  background-color: #f9f9f9; /* Light background for better contrast */
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
#dark .add-video-form {
  background-color: #3e163e38; /* Dark background for better contrast */
}

.add-video-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.add-video-form input[type="text"],
.add-video-form input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px; /* Space between inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
}
#dark .add-video-form input[type="text"]{
  background-color: #3e163e00; /* Dark background for better contrast */
}

.add-video-form button[type="submit"] {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.add-video-form button[type="submit"]:hover {
  background-color: #cc0000;
}
