.VideoList > div{
    float: left;
    padding: 5px;
    padding-bottom: 20px;
}
.VideoList > div:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 10px;
}
.VideoList {
    clear: both;
    padding-top: 100px;
    padding-left: 250px;
}