/* Dropdown.css */

.dropdown {
  float: left;
  position: relative;
  top: 0; /* Adjust as needed */
}

.dropdown-btn {
  background-color: hwb(121 16% 48%); /* Gray background color */
  color: #fff; /* White text color */
  border-color: #6c757d; /* Gray border color */
}

.dropdown-btn:hover {
  background-color: #f8f9fa; /* Light gray background color on hover */
  border-color: #706c7d; /* Gray border color on hover */
}
