/* src/topBar/Dropdown.css */

.dropdown {
  position: fixed;
  top: -10px; /* Adjust based on the height of your topbar */
  left: 30px;
  padding: 5px;
  background-color: transparent; /* Set background color to transparent */
  border: none; /* Remove border */
  z-index: 1001;
}

/* Ensure the icon is properly positioned */
.dropdown .btn {
  position: relative;
}

/* Adjust the offcanvas position */
.offcanvas {
  top: 120px; /* Adjust based on the height of your dropdown */
  z-index: 1000;
}
#dark .offcanvas {
    
  background-color: #775377;
  
}

li{
  cursor: pointer;
}
#dark li:hover{ 
    
  background-color: #bb8d8d;
  
}
