.AddedVideoItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.videoPhoto {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
}

.videoDetails {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.videoTitle {
    font-size: 18px;
    color: #3b3b3b;
    padding-left: 90px;
}

.videoViews, .videoTimeAgo {
    font-size: 18px;
    color: #3b3b3b;
    padding-left: 205px;
}
.deleteButton {
    background-color: gray;
    color: white;
    border: none;
    padding-left: 100px;
    cursor: pointer;
    border-radius: 5px;
}
  
.deleteButton:hover {
    background-color: darkgray;
}
