.AddVideoItem {
    text-align: left;
    direction: ltr;
    border-radius: 10px;
}
.AddVideoItem img {
    width: 300px;
    border-radius: 10px;
}
.AddVideoItem div {
    font-size: 27px;
    color: black;
    font-weight: bold;
    display: block;
}
.AddVideoItem smallText {
    font-size: 15px;
    color: gray;
    display: block;
}