/* src/App.css */

.row {
    margin-left: -30px; /* Reset the default margin */
    margin-right: -11px; /* Reset the default margin */
    justify-content: flex-start; /* Align items to the left */
  }
  
  .col-sm-9-fluid,
  .col-sm-3-fluid {
    padding-left: 0; /* Remove left padding for the columns */
    padding-right: 0; /* Remove right padding for the columns */
  }
  