.VideoItem {
    text-align: left;
    direction: ltr;
}
#dark .VideoItem {
    border-radius: 3%;
    background-color: #512c5159;
    color: black;
}
#dark .VideoItem:hover{
    background-color: #bb8d8d;
}
.VideoItem img {
    width: 300px ; 
    height: 160px;
    border-radius: 10px;
}
.VideoItem div {
    font-size: 27px;
    color: black;
    font-weight: bold;
    display: block;
}
 
.VideoItem p {
    font-size: 15px;
    color: gray;
    display: block;
}
#dark .VideoItem p{
    
    color: black;
}
